Library Dependencies

In [ ]:
#pip install --upgrade sqlalchemy==1.3 sqlalchemy-trino
#pip install pandas

SQL Alchemy DB Connection through Trino

In [ ]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
engine = db.create_engine('trino://erik:osctrino987@trino-secure-odh-trino.apps.odh-cl1.apps.os-climate.org:443/hive')
print("connecting with engine " + str(engine))
connection = engine.connect()

Data Ingestion in a new Table

In [ ]:
table_read = engine.execute("select * from hive.team1.cat")
print(f"Selected {table_read.rowcount} rows.")
for row in table_read.fetchall():
    print(row)

In [ ]:
table_create = engine.execute("CREATE TABLE hive.default.persons (PersonID int, LastName varchar(255), FirstName varchar(255), Address varchar(255), City varchar(255))")

In [ ]:
table_insert = engine.execute("INSERT INTO hive.default.persons VALUES (1, 'Text', 'Text', 'Text', 'Text')")

In [ ]:
result = engine.execute("SELECT * FROM hive.default.persons")
print(f"Selected {result.rowcount} rows.")
for row in result.fetchall():
    print(row)